.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  color: #fff;
  flex-direction: column;
  background: #f3f3f3;
}

.btn {
  margin-top: 1.2rem;
}

.card-box {
  padding: 4em;
  border-radius: 3px;
  margin-bottom: 30px;
  background-color: #21214c;
  /* color: #fff; */
  border-radius: 11px;
}

.thumb-lg {
  /* height: 88px;
  width: 88px; */

  height: 192px;
  width: 200px;
}
.img-thumbnail {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}
.text-pink {
  color: #ff679b!important;
}
.btn-rounded {
  border-radius: 2em;
}
.text-muted {
  color: #fff!important;
}
h4 {
  line-height: 22px;
  font-size: 18px;
}
.email{
  color: #fff;
  font-size: 13px;
}
.logout{
  text-align: right;
  height: 30px;
  margin-right: 2em;
  font-size: 18px;
  cursor: pointer;
}




